/* Scss Document */
$blue: #08B;
$fontBase: 24px;

h1 {
  color: $blue;
}
p {
  color: $blue - #101;
  font-size: $fontBase;
} 

/*Responsve typography starts here*/

$p-font: (
  null  : 15px,
  480px : 16px,
  640px : 17px,
  1024px: 19px
);
 
 @mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

p {
  @include font-size($p-font);
}

$h1-font: (
  null  : 28px,
  480px : 31px,
  640px : 33px,
  1024px: 36px
);

h1 {
  @include font-size($h1-font);
}